@import url(./template.css);

.product__description.base-padding {
  padding: 0;
  border-radius: 0px;
}

body {
  padding: 0;
}

.aeno-hd2 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.aeno-hd2 img {
  margin: 0;
}

.aeno-hd2 p {
  padding: 0;
  margin: 0;
}

.aeno-hd2 h3,
h2 {
  padding: 0;
  margin: 0;
}

.aeno-hd2 ul {
  padding: 0;
}

.aeno-hd2 ul li {
  padding: 0;
}

.aeno-hd2 {
  overflow: hidden;
  display: grid;
  gap: 1rem;
}

.aeno-hd2 div {
  margin: 0;
  padding: 0;
  width: initial;
}

.aeno-hd2 br {
  display: block;
}

.product__body .el-tabs__header {
  z-index: 6;
}

/* MAIN STYLES */

.aeno-hd2 .hero {
  padding: 1.5rem;
  background-image: linear-gradient(
    21deg,
    rgb(123, 164, 156) 0%,
    rgb(123, 164, 156) 1%,
    rgb(82, 122, 114) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.aeno-hd2 .hero-side-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aeno-hd2 .hero-title {
  color: rgb(255, 255, 255);
  display: grid;
  gap: 1rem;
}
.aeno-hd2 .hero-main-title {
  font-weight: 900;
  font-size: 26px;
}
.aeno-hd2 .hero-second-title {
  font-weight: 400;
  font-size: 20px;
}
.aeno-hd2 .hero-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  font-size: 16px;
  line-height: 120%;
  color: rgb(255, 255, 255);
}
.aeno-hd2 .hero-description-item {
  width: 48%;
  display: grid;
  justify-items: center;
  gap: 0.5rem;
}
.aeno-hd2 .hero-description-undertitle {
  text-align: center;
}
.aeno-hd2 .hero-image {
  margin: 0 auto;
}

.aeno-hd2 .travel {
  padding: 1rem;
  display: grid;
  gap: 2rem;
}

.aeno-hd2 .travel-title-container {
  color: black;
  display: grid;
  gap: 1rem;
  text-align: center;
}
.aeno-hd2 .travel-title {
  font-size: 24px;
  font-weight: 600;
}
.aeno-hd2 .travel-description {
  font-size: 18px;
  font-weight: 400;
}
.aeno-hd2 .travel-image {
  width: 100%;
}

.aeno-hd2 .ionic-technology {
  padding: 1rem;
  display: grid;
  gap: 2rem;
}
.aeno-hd2 .ionic-technology-container {
  color: black;
  display: grid;
  gap: 1rem;
  text-align: center;
}
.aeno-hd2 .ionic-technology-title {
  font-size: 24px;
  font-weight: 600;
}
.aeno-hd2 .ionic-technology-description {
  font-size: 18px;
  font-weight: 400;
}
.aeno-hd2 .ionic-technology-image {
  width: 100%;
}
.aeno-hd2 .modes {
  padding: 1rem;
  display: grid;
  gap: 2rem;
}
.aeno-hd2 .modes-container {
  color: black;
  display: grid;
  gap: 1rem;
  text-align: center;
}
.aeno-hd2 .modes-title {
  font-size: 24px;
  font-weight: 600;
}
.aeno-hd2 .modes-description {
  font-size: 18px;
  font-weight: 400;
}
.aeno-hd2 .modes-image {
  width: 100%;
}
.aeno-hd2 .compact {
  padding: 1rem;
  display: grid;
  gap: 2rem;
}
.aeno-hd2 .compact-container {
  color: black;
  display: grid;
  gap: 1rem;
  text-align: center;
}
.aeno-hd2 .compact-title {
  font-size: 24px;
  font-weight: 600;
}
.aeno-hd2 .compact-description {
  font-size: 18px;
  font-weight: 400;
}
.aeno-hd2 .compact-image {
  width: 100%;
}
.aeno-hd2 .hair-types {
  padding: 1rem;
  display: grid;
  gap: 2rem;
}
.aeno-hd2 .hair-types-container {
  color: black;
  display: grid;
  gap: 1rem;
  text-align: center;
}
.aeno-hd2 .hair-types-title {
  font-size: 24px;
  font-weight: 600;
}
.aeno-hd2 .hair-type-description {
  font-size: 18px;
  font-weight: 400;
}
.aeno-hd2 .hair-type-image {
  width: 100%;
}
.aeno-hd2 .protection {
  padding: 1rem;
  display: grid;
  gap: 2rem;
}
.aeno-hd2 .protection-container {
  color: black;
  display: grid;
  gap: 1rem;
  text-align: center;
}
.aeno-hd2 .protection-title {
  font-size: 24px;
  font-weight: 600;
}
.aeno-hd2 .protection-description {
  font-size: 18px;
  font-weight: 400;
}
.aeno-hd2 .protection-image {
  width: 100%;
}
.aeno-hd2 .accessories {
  padding: 1rem;
  display: grid;
  gap: 2rem;
}
.aeno-hd2 .accessories-container {
  color: black;
  display: grid;
  gap: 1rem;
  text-align: center;
}
.aeno-hd2 .accessories-title {
  font-size: 24px;
  font-weight: 600;
}
.aeno-hd2 .accessories-description {
  font-size: 18px;
  font-weight: 400;
}
.aeno-hd2 .accessories-image {
  width: 100%;
}
.aeno-hd2 .specifications {
  padding: 1rem;
  display: grid;
  gap: 2rem;
}
.aeno-hd2 .specifications-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}
.aeno-hd2 .specification-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.aeno-hd2 .specification-list-item {
  width: 48%;
}
.aeno-hd2 .specification-item-title {
  font-size: 18px;
  font-weight: 400;
}
.aeno-hd2 .specification-item-description {
  font-size: 24px;
  font-weight: 600;
}

/* TABLET */
@media (min-width: 750px) {
  .aeno-hd2 .hero {
    padding: 16px;
    gap: 16px;
    flex-direction: row;
  }

  .aeno-hd2 .hero-side-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-basis: 60%;
    justify-content: center;
  }

  .aeno-hd2 .hero-title {
    gap: 16px;
  }
  .aeno-hd2 .hero-main-title {
    font-size: 24px;
  }
  .aeno-hd2 .hero-second-title {
    font-size: 19px;
  }
  .aeno-hd2 .hero-description {
    gap: 8px;
    font-size: 10px;
  }
  .aeno-hd2 .hero-description-item {
    display: grid;
    justify-items: center;
    gap: 8px;
    flex-basis: 29%;
  }

  .aeno-hd2 .hero-description-item img {
    width: 40%;
  }
  .aeno-hd2 .hero-description-undertitle {
    text-align: center;
  }
  .aeno-hd2 .hero-image {
    margin: 0;
    width: 50%;
  }
  .aeno-hd2 .hero-image img {
    display: block;
    max-width: 100%;
    opacity: 1;
    margin: 0 auto;
  }
  .aeno-hd2 .travel {
    padding: 1rem;
    display: grid;
    gap: 2rem;
  }

  .aeno-hd2 .travel-title-container {
    gap: 1rem;
    text-align: left;
  }
  .aeno-hd2 .travel-title {
    font-size: 24px;
  }
  .aeno-hd2 .travel-description {
    font-size: 18px;
  }

  .aeno-hd2 .ionic-technology {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .aeno-hd2 .ionic-technology-container {
    display: flex;
    flex-direction: column;
    text-align: right;
    flex-basis: 50%;
  }
  .aeno-hd2 .ionic-technology-title {
    font-size: 20px;
  }
  .aeno-hd2 .ionic-technology-description {
    font-size: 12px;
  }
  .aeno-hd2 .ionic-technology-image {
    width: 45%;
  }
  .aeno-hd2 .modes {
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .aeno-hd2 .modes-container {
    display: flex;
    flex-direction: column;
    text-align: right;
    flex-basis: 50%;
  }
  .aeno-hd2 .modes-title {
    font-size: 20px;
  }
  .aeno-hd2 .modes-description {
    font-size: 12px;
  }
  .aeno-hd2 .modes-image {
    width: 45%;
  }
  .aeno-hd2 .compact {
    gap: 2rem;
  }
  .aeno-hd2 .compact-container {
    gap: 1rem;
    text-align: left;
  }
  .aeno-hd2 .compact-title {
    font-size: 24px;
  }
  .aeno-hd2 .compact-description {
    font-size: 18px;
  }
  .aeno-hd2 .compact-image {
    width: 100%;
  }
  .aeno-hd2 .hair-types {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .aeno-hd2 .hair-types-container {
    display: flex;
    flex-direction: column;
    text-align: right;
    flex-basis: 50%;
  }
  .aeno-hd2 .hair-types-title {
    font-size: 20px;
  }
  .aeno-hd2 .hair-type-description {
    font-size: 12px;
  }
  .aeno-hd2 .hair-type-image {
    width: 45%;
  }

  .aeno-hd2 .protection {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .aeno-hd2 .protection-container {
    display: flex;
    flex-direction: column;
    text-align: right;
    flex-basis: 50%;
  }
  .aeno-hd2 .protection-title {
    font-size: 20px;
  }
  .aeno-hd2 .protection-description {
    font-size: 12px;
  }
  .aeno-hd2 .protection-image {
    width: 45%;
  }
  .aeno-hd2 .accessories {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .aeno-hd2 .accessories-container {
    display: flex;
    flex-direction: column;
    text-align: right;
    flex-basis: 50%;
  }
  .aeno-hd2 .accessories-title {
    font-size: 20px;
  }
  .aeno-hd2 .accessories-description {
    font-size: 12px;
  }
  .aeno-hd2 .accessories-image {
    width: 45%;
  }
  .aeno-hd2 .specifications {
    padding: 1rem;
    display: grid;
    gap: 2rem;
  }
  .aeno-hd2 .specifications-title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
  }
  .aeno-hd2 .specification-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .aeno-hd2 .specification-list-item {
    width: 48%;
    text-align: center;
  }
  .aeno-hd2 .specification-item-title {
    font-size: 18px;
    font-weight: 400;
  }
  .aeno-hd2 .specification-item-description {
    font-size: 24px;
    font-weight: 600;
  }
}

/* LAPTOP */
@media (min-width: 1000px) {
  .aeno-hd2 .hero {
    padding: 32px;
    gap: 32px;
  }

  .aeno-hd2 .hero-side-container {
    gap: 32px;
    flex-basis: 75%;
  }

  .aeno-hd2 .hero-title {
    gap: 32px;
  }
  .aeno-hd2 .hero-main-title {
    font-size: 32px;
  }
  .aeno-hd2 .hero-second-title {
    font-size: 24px;
  }
  .aeno-hd2 .hero-description {
    gap: 0px;
    font-size: 15px;
    justify-content: space-between;
  }
  .aeno-hd2 .hero-description-item {
    gap: 8px;
    flex-basis: 30%;
  }

  .aeno-hd2 .hero-description-item img {
    width: 40%;
  }

  .aeno-hd2 .travel {
    padding: 2rem;
    gap: 2.5rem;
  }

  .aeno-hd2 .travel-title-container {
    gap: 2rem;
    text-align: left;
  }
  .aeno-hd2 .travel-title {
    font-size: 32px;
  }
  .aeno-hd2 .travel-description {
    font-size: 24px;
  }

  .aeno-hd2 .ionic-technology {
    padding: 2rem;
    gap: 2.5rem;
  }

  .aeno-hd2 .ionic-technology-title {
    font-size: 24px;
  }
  .aeno-hd2 .ionic-technology-description {
    font-size: 16px;
  }

  .aeno-hd2 .modes {
    padding: 2rem;
    gap: 2.5rem;
  }

  .aeno-hd2 .modes-title {
    font-size: 24px;
  }
  .aeno-hd2 .modes-description {
    font-size: 16px;
  }

  .aeno-hd2 .compact {
    padding: 2rem;
    gap: 2.5rem;
  }
  .aeno-hd2 .compact-container {
    gap: 2.5rem;
  }

  .aeno-hd2 .compact-title {
    font-size: 26px;
  }
  .aeno-hd2 .compact-description {
    font-size: 20px;
  }

  .aeno-hd2 .hair-types {
    padding: 2rem;
    gap: 2.5rem;
  }

  .aeno-hd2 .hair-types-title {
    font-size: 24px;
  }
  .aeno-hd2 .hair-type-description {
    font-size: 16px;
  }
  .aeno-hd2 .protection {
    padding: 2rem;
    gap: 2rem;
  }

  .aeno-hd2 .protection-title {
    font-size: 24px;
  }
  .aeno-hd2 .protection-description {
    font-size: 16px;
  }

  .aeno-hd2 .accessories {
    padding: 2rem;
    gap: 2.5rem;
  }
  .aeno-hd2 .accessories-title {
    font-size: 24px;
  }
  .aeno-hd2 .accessories-description {
    font-size: 16px;
  }

  .aeno-hd2 .specifications {
    padding: 2rem;
    gap: 2.5rem;
  }
  .aeno-hd2 .specifications-title {
    font-size: 32px;
  }
  .aeno-hd2 .specification-list {
    gap: 2rem;
  }

  .aeno-hd2 .specification-item-title {
    font-size: 24px;
  }
  .aeno-hd2 .specification-item-description {
    font-size: 32px;
  }
}

/* NOTEBOOK */
@media (min-width: 1300px) {
  .aeno-hd2 .hero {
    padding: 48px;
    gap: 48px;
  }

  .aeno-hd2 .hero-side-container {
    gap: 48px;
  }

  .aeno-hd2 .hero-title {
    gap: 48px;
  }
  .aeno-hd2 .hero-main-title {
    font-size: 48px;
  }
  .aeno-hd2 .hero-second-title {
    font-size: 32px;
  }
  .aeno-hd2 .hero-description {
    font-size: 20px;
  }
  .aeno-hd2 .hero-description-item {
    gap: 16px;
  }

  .aeno-hd2 .travel {
    padding: 3rem;
    gap: 3rem;
  }

  .aeno-hd2 .travel-title-container {
    gap: 3rem;
  }
  .aeno-hd2 .travel-title {
    font-size: 48px;
  }
  .aeno-hd2 .travel-description {
    font-size: 32px;
  }

  .aeno-hd2 .ionic-technology {
    padding: 3rem;
    gap: 3rem;
  }

  .aeno-hd2 .ionic-technology-title {
    font-size: 32px;
  }
  .aeno-hd2 .ionic-technology-description {
    font-size: 24px;
  }

  .aeno-hd2 .modes {
    padding: 3rem;
    gap: 3rem;
  }

  .aeno-hd2 .modes-title {
    font-size: 32px;
  }
  .aeno-hd2 .modes-description {
    font-size: 24px;
  }

  .aeno-hd2 .compact {
    padding: 3rem;
    gap: 3rem;
  }
  .aeno-hd2 .compact-container {
    gap: 3rem;
  }

  .aeno-hd2 .compact-title {
    font-size: 48px;
  }
  .aeno-hd2 .compact-description {
    font-size: 32px;
  }

  .aeno-hd2 .hair-types {
    padding: 3rem;
    gap: 3rem;
  }

  .aeno-hd2 .hair-types-title {
    font-size: 32px;
  }
  .aeno-hd2 .hair-type-description {
    font-size: 24px;
  }
  .aeno-hd2 .protection {
    padding: 3rem;
    gap: 3rem;
  }

  .aeno-hd2 .protection-title {
    font-size: 32px;
  }
  .aeno-hd2 .protection-description {
    font-size: 24px;
  }

  .aeno-hd2 .accessories {
    padding: 3rem;
    gap: 3rem;
  }
  .aeno-hd2 .accessories-title {
    font-size: 32px;
  }
  .aeno-hd2 .accessories-description {
    font-size: 24px;
  }

  .aeno-hd2 .specifications {
    padding: 3rem;
    gap: 3rem;
  }
  .aeno-hd2 .specifications-title {
    font-size: 48px;
  }
  .aeno-hd2 .specification-list {
    gap: 3rem;
  }

  .aeno-hd2 .specification-item-title {
    font-size: 32px;
  }
  .aeno-hd2 .specification-item-description {
    font-size: 48px;
  }
}
